@use "reset";

@import url("https://fonts.googleapis.com/css2?family=Iceland&family=JetBrains+Mono:wght@100..800&display=swap");

*::selection {
  background-color: #ffffff;
  color: #020202;
}

html,
body {
  height: 100%;

  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;

  font-family: "JetBrains Mono", monospace;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;

  background-color: #020202;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.main {
  flex: 1 1 auto;
}
