.audio_list {
  flex-grow: 1;

  & div:first-child {
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
  }

  & div:last-child {
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
  }
}
