.header {
  width: 100%;
  height: 74px;

  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  transition: 0.3s linear;

  &.active {
    height: 64px;

    backdrop-filter: blur(10px);
  }
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: "Iceland", sans-serif;
  font-size: 42px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 26px;
}

.menu {
  display: flex;
  gap: 18px;
}

.menu__link {
  position: relative;

  &::after {
    content: "";
    display: none;
    width: 100%;
    height: 0.5px;
    background-color: #fff;

    position: absolute;
    bottom: -2px;
    left: 0;
  }

  &:hover {
    &::after {
      display: block;
    }
  }
}

.nav_buttons {
  display: flex;
  align-items: center;
  gap: 12px;
}

.nav_btn {
  padding: 6px 10px;

  font-weight: 500;

  border-radius: 6px;
}

.login {
  background-color: transparent;

  border: 1px solid #2e2e2e;

  transition: 0.2s ease;

  &:hover {
    background-color: #131313;
  }

  &.active {
    &:hover {
      background-color: #0000003d;
    }
  }
}

.signup {
  background-color: #ffffff;

  color: #020202;

  transition: 0.2s ease;

  &:hover {
    opacity: 0.8;
  }
}
