.audio_player {
  max-width: 500px;
  padding: 8px;

  background-color: #101010;

  transition: 0.2s ease;

  &:hover {
    transform: translateX(20px);

    .audio_image::after {
      display: block;
    }

    .audio_icon {
      display: block;
    }
  }

  &.active {
    transform: translateX(20px);
  }
}

.audio_player__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.audio_info {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-grow: 1;
}

.audio_image {
  position: relative;

  cursor: pointer;

  user-select: none;

  &::after {
    content: "";
    display: none;
    position: absolute;
    inset: 0;
    z-index: 99;

    background-color: #00000028;
  }
}

.image {
  width: 48px;
  height: 48px;
  object-fit: cover;

  transition: 0.2s ease;
}

.audio_icon {
  display: none;

  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;

  transform: translate(-50%, -50%);
}

.audio_content {
  display: flex;
  flex-direction: column;
  gap: 6px;
  flex-grow: 1;
}

.audio_author {
  font-size: 14px;
  color: #a9a9a9;
}

.audio_control {
  max-width: 330px;

  display: flex;
  align-items: center;
  gap: 10px;
}

.audio_control__time {
  font-size: 14px;
}

.audio_control__input {
  flex-grow: 1;

  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;

  &::-webkit-slider-runnable-track {
    background-color: #383838;
    height: 6px;
    border-radius: 4px;
  }

  &::-webkit-slider-thumb {
    appearance: none;

    margin-top: -6px;

    width: 18px;
    height: 18px;

    border-radius: 50%;

    background: #f5f5f5;
  }

  &:hover::-webkit-slider-thumb {
    outline: none;

    background: #dfdfdf;
  }

  &:active::-webkit-slider-thumb {
    outline: none;

    background: #bfbfbf;
  }
}

.menu {
  position: relative;
}

.menu_button {
  padding: 6px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;

  transition: 0.1s ease;

  &:hover {
    background-color: #272727;
  }
}

.sub_button {
  width: 0;
  height: 0;
  overflow: hidden;

  position: absolute;
  bottom: 110%;
  left: 4%;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  white-space: nowrap;

  border-radius: 6px;

  background-color: #212121;

  transition: 0.3s ease;

  &:hover {
    background-color: #343434;
  }

  &:active {
    background-color: #3e3e3e;
  }

  &.active {
    width: 196px;
    height: 48px;
  }
}
