.auth_buttons {
  display: flex;
  align-items: center;
  gap: 12px;
}

.auth_btn {
  padding: 6px 10px;

  font-weight: 500;

  border-radius: 6px;
}

.login {
  background-color: transparent;

  border: 1px solid #2e2e2e;

  transition: 0.2s ease;

  &:hover {
    background-color: #131313;
  }

  &.active {
    &:hover {
      background-color: #0000003d;
    }
  }
}

.signup {
  background-color: #ffffff;

  color: #020202;

  transition: 0.2s ease;

  &:hover {
    opacity: 0.8;
  }
}
