// Home Dots

.animated_wrapper {
  position: absolute;
  left: 0px;
  top: -100px;
  z-index: -1;

  width: 100%;
  height: 2000px;
  overflow: hidden;

  isolation: isolate;
}

.optimized_dot {
  position: absolute;

  border-radius: 50%;

  filter: blur(200px);
  opacity: 0.9;
  will-change: transform;
}

.dot_purple {
  width: 700px;
  height: 700px;

  position: absolute;
  left: -200px;
  top: -200px;

  background: #820dff;
  animation: dot-animation-1 20s infinite ease-in-out;
}

@keyframes dot-animation-1 {
  0% {
    transform: translate(0, 0);
  }
  33% {
    transform: translate(200px, 100px);
  }
  66% {
    transform: translate(100px, 300px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.dot_blue {
  width: 650px;
  height: 650px;

  position: absolute;
  left: -100px;
  top: -100px;
  background: #ff4545;
  animation: dot-animation-2 20s infinite ease-in-out;
}

@keyframes dot-animation-2 {
  0% {
    transform: translate(0, 0);
  }
  33% {
    transform: translate(-150px, 200px);
  }
  66% {
    transform: translate(50px, 100px);
  }
  100% {
    transform: translate(0, 0);
  }
}

// Intro

.intro {
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.intro__wrapper {
  display: flex;
  align-items: center;
  gap: 60px;
}

.intro_inner {
  max-width: 600px;
}

.title {
  font-size: 56px;
  font-weight: 600;
}

.description {
  margin-top: 20px;

  font-size: 18px;
  font-weight: 200;
  color: #f3f3f3;
  line-height: 2em;
}

.bold {
  font-weight: 500;
}

.intro_list {
  flex-grow: 1;

  & div:first-child {
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
  }

  & div:last-child {
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
  }
}
